Source: hashstack-agent-plugin-jtr-opencl
Maintainer: Jeremi Gosney <jgosney@sagitta.pw> 
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: build-essential, libssl-dev, libpcap-dev, libgmp-dev, pkg-config, autoconf, automake, m4

Package: hashstack-agent-plugin-jtr-opencl
Architecture: amd64
Depends: hashstack-nvidia-driver | hashstack-amd-driver, libbz2-1.0, libc6 (>= 2.14), libgmp10, libssl1.0.0 (>= 1.0.0), zlib1g (>= 1:1.1.4)
Recommends: hashstack-agent, hashstack-agent-plugin-hashcat-cli, hashstack-agent-utils, statsprocessor
Conflicts: hashstack-agent-plugin-jtr, hashstack-agent-plugin-jtr-nogpu
Replaces: hashstack-agent-plugin-jtr
Provides: hashstack-agent-plugin-jtr
Description: John the Ripper agent plugin for Hashstack with AMD OpenCL support
 John the Ripper agent plugin for Hashstack with AMD OpenCL support
 based on bleeding jumbo through git commit df9497.

